.home{
      .h-1{
            position: relative;
            z-index: 2;
            &::after{
                  content: 'WELCOME';
                  position: absolute;
                  top: -85%;
                  left: -3%;
                  font-size: 150%;
                  -webkit-text-stroke:$violet;
                  opacity: 0.2;
                  -webkit-text-stroke-width: 0.9px;
                  -webkit-text-fill-color: transparent;
                  letter-spacing: 4px;
                  font-family: Impact, Charcoal, sans-serif;
                  z-index: 1;
            }
            .h-4{
                  text-decoration : "double underline" #0abed6  2px;
                  transform: translateY(-10px);
                  font-weight:300;
            }
      }
}
.image-container{
      position: relative;
      width: 100%;
      height: 100%;
      img{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
      }
      .svg{
            z-index: 1;
      }
      .my_image{
            z-index: 2;
      }
}
@include media-breakpoint-down(md) { 
      .home{
            justify-content: space-between !important;
            .h1{
                  &::after{
                        top: -100%;
                        left: -10px;
                  }
            }
            .welcome{
                  position: relative;
                  min-width: 200px;
                  z-index: 50;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  div{
                        height: 100px;
                        display: flex !important;
                        flex-direction: column !important;
                        justify-content: space-evenly;
                  }
            }
      }
      .reseaux{
            display: none !important;
      }
}