@mixin button {
      box-shadow: 2px 2px 6px -1px #0f2552;
	background-color:#1f3053;
	border-radius:42px;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:1.1rem;
	font-weight:300;
	padding:2px 37px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
      &:nth-child(2){
            margin: 0 10px;
      }
      &:hover {
	background-color:#0f2041;
      letter-spacing: 1px;
      }
      &:active {
            position:relative;
            top:1px;
      }
}